<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
 <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
  <property name="hibernate.connection.password">root200</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jauminadb</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="show_sql">false</property>
 <mapping class="jaumina.entidades.productosventa.ProductosVenta" />
<mapping class="jaumina.entidades.ventas1.Venta1"/>
<mapping class="jaumina.entidades.detalleventa.DetalleVenta"/>
<mapping class="jaumina.entidades.cliente.Cliente"/>  
<mapping class="jaumina.entidades.usuario.Usuario" />
<mapping class="jaumina.entidades.delivery.Delivery" />
<mapping class="jaumina.entidades.persona.Persona" />
 </session-factory>
</hibernate-configuration>

<!-- 	Diego Benitez
		xuser83@hotmail.com -->

